# Auto detect text files and perform LF normalization
* text=auto
Databricks/Data[[:space:]]Engineering[[:space:]]Associate/Data[[:space:]]Ingestion[[:space:]]with[[:space:]]Lakeflow[[:space:]]Connect/raw/events-500k-json/part-00000-tid-309888144738233288-fab86c62-ff9f-4176-98c6-587f95ee9066-2365-1-c000.json filter=lfs diff=lfs merge=lfs -text
